/** @format */

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
.react-datepicker {
	position: absolute !important;
}
.modal.is-active {
	top: 20% !important;
	position: relative !important;
}
.modal-background {
	opacity: 0.2 !important;
}
.media-content {
	margin-top: 25% !important;
}
.card {
	position: relative !important;
}
